<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= course.name %></h1>
        <div class="form" style="width: 30%; margin: 25px auto;">
            <form   action="/courses/<%= course._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="course[name]" value="<%= course.name %>">                
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="course[price]" value="<%= course.price %>" min="0.01" step="0.01">                
                </div>
                <div class="form-group"> 
                    <input class="form-control" type="text" name="course[image]" value="<%= course.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="course[description]" value="<%= course.description %>">                
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update</button>
                </div>
            </form>
            <a href="/courses">Back to courses</a>
        </div>    
    </div>    
</div>

<% include ../partials/footer %>
