<% include ../partials/header %>


<h2 id="subject" style="text-align: center;"> WELCOME TO <%= course.name.toUpperCase()%> <br> Feel free to ask your
    questions</h2>
<div class="parent">
    <div class="aside">
        <br />
    </div>

    <div class="main">

        <div class="content-holder" >
            <div  class="content-chat">
                <div class="chat-panel" >
                    <h2 id="subject" style="text-align: center;"> TITLE: <%= course.name.toUpperCase()%></h2>
                    <hr />

                    <div class="chat-item">
                        <% course.comments.forEach(function(comment){ %>

                        <div style="width: 170%;">
                            <strong><%= comment.author.username %> - <%= comment.author.position %> </strong>
                            <span><%= comment.createdAt.toLocaleDateString('en-US') %></span>
                            <p style="display: block">
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a href="/courses/<%= course._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form id="delete-form"
                                action="/courses/<%= course._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                <button>Delete</button>
                            </form>
                            <% } %>
                        </div>

                        <hr>
                        <% }) %>
                    </div>

                </div>
                <br><br>
              
                
                <div class="chat-form">
                    <form class="comment-form" action="/courses/<%= course._id %>/comments " method="POST">
                        <input type="text" name="comment[text]" placeholder="Answer Questions" />
                        <button><img
                                src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569419882/Vector" /></button>

                    </form>

                </div>
               
            </div>
            <div  id="carousel-container" class="content-pic">
                <div class="carousel">
                    <img style="WIDTH: 100%;"
                        src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569420981/classroom" alt="Classroom">


                </div>
                <!-- <br><br><br><br><br> -->
            </div>
        </div>

    </div>
</div>
<div style="height: 150%" class="col-md-4"></div>
<img src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569422644/Ellipse" class="top-right" alt="">
<img src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569422643/x" class="bottom-right" alt="">


<script src="/js/main.js"></script>
<% include ../partials/footer %>