<% include ../partials/header %>

<!-- <div class="container "> 
    <div class="row">
        <div class="col-md-3">
            <p class="lead">CLASSROOM</p> 
            <div class="list-group">
                <li class="list-group-item active">Lecture by: <%= course.author.fullname%></li>
                <li class="list-group-item">
                    <a href="<%= course.material%>">Download the handout</a>
                </li>
                <li class="list-group-item">info 3</li>
            </div> 
        </div> 
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= course.image %>" alt="">
                <div class="caption-full">
                    <h4><%= course.name.toUpperCase()%></h4>
                    <p><%= course.description%></p>
                    <p>
                        <em>Submitted by <%= course.author.username%></em> 
                    </p>
                    <% if(currentUser && course.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/courses/<%= course._id %>/edit ">Edit</a>
                        <form id="delete-form" action="/courses/<%= course._id %>?_method=DELETE" method="POST">
                            <button  class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <% if(currentUser) {%>
                    <div class="text-right">
                            <a class="btn btn-success" href="/courses/<%= course._id %>/comments/new">Add New Comment</a>
                        </div>
                <% }%>
                
                <hr>
                <% course.comments.forEach(function(comment){ %>
                    <div class="row"> 
                        <div class="col-md-12">
                            <strong><%= comment.author.username %> - <%= comment.author.position %> </strong>
                            <span class="pull-right"><%= comment.createdAt.toLocaleDateString('en-US') %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/courses/<%= course._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/courses/<%= course._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button  class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                <% }) %>
            </div>
        </div>
    </div>
</div> -->

<div class="parent">
    <div class="aside">
        <br />
    </div>

    <div class="main">

        <div class="content-holder">
            <div style="width: 50%">
                <div class="chat-panel" style="">
                    <h2 style="" id="subject"> TITLE: <%= course.name.toUpperCase()%></h2>
                    <hr />

                    <div class="chat-item">
                        <% course.comments.forEach(function(comment){ %>

                        <div style="width: 400px">
                            <strong><%= comment.author.username %> - <%= comment.author.position %> </strong>
                            <span><%= comment.createdAt.toLocaleDateString('en-US') %></span>
                            <p style="display: block">
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a href="/courses/<%= course._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form id="delete-form"
                                action="/courses/<%= course._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                <button>Delete</button>
                            </form>
                            <% } %>
                        </div>

                        <hr>
                        <% }) %>
                    </div>

                </div>
                <br><br>
              
                
                <div class="chat-form">
                    <form class="comment-form" action="/courses/<%= course._id %>/comments " method="POST">
                        <input type="text" name="comment[text]" placeholder="Answer Questions" />
                        <button><img
                                src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569419882/Vector" /></button>

                    </form>

                </div>
               
            </div>
            <div id="carousel-container">
                <div class="carousel">
                    <img src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569420981/classroom" alt="Classroom">


                </div>
                <!-- <br><br><br><br><br> -->
            </div>
        </div>

    </div>
</div>
<div style="height: 150%" class="col-md-4"></div>
<img src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569422644/Ellipse" class="top-right" alt="">
<img src="https://res.cloudinary.com/dexcjehc5/image/upload/v1569422643/x" class="bottom-right" alt="">



<% include ../partials/footer %>